*{
    padding: 0;
    margin: 0;
}

.parent {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   margin-top: 40px;
}


button{
    padding: 10px;
    border-radius: 5px;


}
button:hover{

    opacity: 80;
    transform: scale(1.05);
}



.container {

    display: flex;
   
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
    gap: 40px;
}

.animal_img{
    object-fit: contain;
    height: 50px;
    width: 50px;
}

.animal{

    display: flex;

    border: 1px solid gold;
    padding: 10px;
    margin: 5px;
    width: 100px;
    height: 100px;
    align-items: center;
    flex-direction: column;
    user-select: none;
}